.ms-cards {
    display: grid;
    grid:
    "theConcept image-card1" 1fr
    "image-card2 theFood" 1fr
    / 1fr 1fr;
    height: auto;
}

.ms-image-card1, .ms-image-card2{
    width: 50vw;
    height: auto;
}
.ms-card1 {
    grid-area: theConcept;
}
.ms-card2 {
    grid-area: theFood;
}
.ms-image-card1{
    grid-area: image-card1;
}

.ms-image-card2{
    grid-area: image-card2;
}

.ms-theConcept, .ms-theFood {
    background-color: var(--dark-color);
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    padding-top: 10%;
}

p.ms-foodText, p.ms-conceptText {
    background-color: var(--dark-color);
    color: var(--main-text-color);
    height: 80%;
    display: flex;
    text-align: center;
    font-size: 1.2rem;
    line-height: 35px;
    align-items: center;
    font-family: var(--secondary-font);
    padding: 5%;

}

.ms-h2-small-card {
    color: var(--main-text-color);
    font-family: var(--title-font);
    font-style: normal;
}

.ms-h2-big-card {
    color : var(--secondary-title-color);
    font-family: var(--title-font);
    font-style: normal;
}

@media screen and (max-width: 400px) {

    p.ms-foodText, p.ms-conceptText {
        display: flex;
        text-align: center;
        font-size: 0.8rem;
        line-height: 20px;
        align-items: center;
        font-family: var(--secondary-font);
        padding: 5%;

    }

    .ms-cards {
        display: inline-block;
    }

    .ms-image-card1, .ms-image-card2{
        width: 100vw;
        height: auto;
        display: block;
    }
}


