.ms-contact {
    background-color: var(--main-text-color);
}

.ms-contact-title {
    text-align: center;
    padding: 2% 0 2% 0;
}

.ms-map-infos {
   display: flex;
   height: 84%;
}

.w-50 {
    width: 50%;
}

iframe {
    padding-left: 5%;
    width: 100%;
}

.ms-contact-infos p{
    height: auto;
    font-family: var(--secondary-font);
    font-size: 1.667vw;
    color: var(--dark-color);
}

h5 {
    font-family: var(--title-font);
    font-size: 2.778vw;
    color: var(--dark-color);
    font-weight: bold;
    margin-bottom: 5%;
    padding-left: 5%;
}

.ms-contact-infos {
    text-align: center;
}

.ms-group-adress {
    display: flex;
    justify-content: space-between;
    height: 10%;
    padding-right: 30%;
    padding-left: 15%;
    margin-bottom: 10%;
}

.ms-group-time {
    display: flex;
    justify-content: space-between;
    height: 10%;
    padding-right: 25%;
    padding-left: 15%;
    margin-bottom: 10%;
}
.ms-group-contact {
    display: flex;
    justify-content: space-between;
    height: 10%;
    padding-right: 25%;
    padding-left: 15%;
    margin-bottom: 10%;
}

.ms-facebook-png {
    height: 55px;
    width: 55px;
}
.ms-insta-png {
    height: 55px;
    width: 55px;
}
.ms-tripadvisor-png {
    height: 55px;
    width: 55px;
}

.ms-logos-reseaux {
    display:flex;
    justify-content: space-around;
    padding: 0 24% 0 24%;
}
#googleMap {
    padding-bottom: 2%;
}



@media screen and (max-width: 400px) {
    h5 {
        font-size: 32px;
    }

    .ms-contact-infos p {
        height: auto;
        font-size: 12px;
        justify-content: center;
    }
    .ms-contact-infos {
        width: 100%;
        padding-bottom: 2rem;
    }

    iframe {
        padding-right: 5%;
    }

    .ms-map-infos {
        display: inline-block;
        height: 100%;
        width: 100%;
    }

    .ms-contact {
        height: auto;
    }
    iframe {
        width: 100%;
    }
    #googleMap {
        width: 100%;
    }

    .ms-place-png {
        height: 32px;
        width: 32px;
        top: 25%;
        left: 15%;
    }

    .ms-clock-png {
        height: 32px;
        width: 32px;
        top: 50%;
        left: 15%;
    }

    .ms-telephone-png {
        height: 32px;
        width: 32px;

        left: 15%;
    }
    .ms-facebook-png {
        height: 32px;
        width: 32px;
        top: 18%;
        left: 75%;
    }
    .ms-insta-png {
        height: 32px;
        width: 32px;
        top: 42%;
        left: 75%;
    }
    .ms-tripadvisor-png {
        height: 32px;
        width: 32px;
        top: 65%;
        left: 75%;
    }

}



