/*
Defining the section .ms-form as grid and placing it in the center of the page
 */

.ms-booking {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 5vh auto;
    width: 47vw;
}

.ms-title-section {
    margin: auto;
}

/*
Defining the form itself as a grid
 */

form {
    display: grid;
    grid-template: repeat(3, 9vh) 22vh 10vh / repeat(2, 1fr);
    /*grid-template-rows: repeat(3, 65px) 1fr 1fr;
     */
    gap: 0.625rem;
}



/*
--- Inputs and textarea styles ---
 */

input {
    height: 9vh;
}
/*
textarea spans on a full row + resize disabled
 */
textarea {
    grid-column-start: 1;
    grid-column-end: 3;
    resize: none;
}

/*
Common styles for input and textarea
 */

/*
On click, inputs and textarea have no outline
 */
input:focus, textarea:focus {
    outline:none;
}

input, textarea {
    background-color: var(--secondary-title-color);
    border-radius: 0.625rem;
    border: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*
Defining the font for placeholders
 */

::-webkit-input-placeholder, input, textarea {
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    color: var(--main-text-color);
}

/*
:read-write allows to target what is readable and "writable" by users including placeholders and values of input date and time, giving it a padding
 */

input:read-write, textarea:read-write{
    padding: 0.625rem;
}

/*
On click placeholders have low opacity
 */

input:focus::placeholder, textarea:focus::placeholder {
    opacity: 0.2;
}

/*input:invalid {
    background-color: red;
}*/

/*
.error {
    display: none;
    width  : 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
}

.error.active {
    display: initial;
    padding: 0.3em;
}
*/

/*
--- Input submit style ---
 */

.ms-button {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 10vw;
    height: 7vh;
    margin: 1.25rem auto;
    background-color: var(--dark-color);
}

.ms-plates-mobile {
    display: none;
}

.ms-form-errors-list {
    width: auto;
    font-size: 0.6rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.ms-form-error {
    border: 2px dashed red;
    border-radius: 0.625rem;
    padding: 0.5rem;
    margin: 0 0.5rem;
}


/*
--- Custom styles on mobiles ---
 */

@media screen and (max-width: 400px) {

    /*
    Defining styles for the section
     */
    .ms-booking {
        width: 95vw;
        margin: 5vh auto;
    }

    /*
    Defining a grid area for each input and their spans in the grid
     */

    .ms-name {
        grid-area: name;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .ms-phone {
        grid-area: phone;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .ms-mail {
        grid-area: mail;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .ms-plates-mobile {
        display: initial;
        grid-area: plates;
        grid-column-start: 1;
        grid-column-end: 2;
        background-image: url("/Assets/Images/restaurantIcon.png");
        background-repeat: no-repeat;
        background-size:28%;
        background-position: 50%;
    }

    .ms-plates-pc {
        display: none;
    }

    .ms-date {
        grid-area: date;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
    }

    .ms-hour {
        grid-area: hour;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
    }

    .ms-demands {
        grid-area: demands;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
    }

    .ms-button {
        grid-area: submit;
        grid-column-end: 4;
        margin: 1rem auto 0;
    }

    form {
        grid-template: repeat(6, 7vh) / 1fr;
        grid:
        "name" 7vh
        "phone" 7vh
        "mail" 7vh
        "plates" "date" "hour" 7vh
        "demands" auto
        "submit" auto/ 1fr 1fr 1fr;
        gap: 0.75rem;
    }

    input {
        height: 7vh;
    }

    textarea {
        grid-column-start: initial;
        grid-column-end: initial;
    }

    /*
    Reducing font size of placeholders on mobile
     */
    ::-webkit-input-placeholder, input, textarea {
        font-size: 1.25rem;
    }



    /*
    Resetting width and defining a different padding on mobiles to have a button which takes whole of the text
     */
    .ms-button {
        width: initial;
        padding: 2vw;
    }

    /*
    On mobiles, input of date and time types don't display any value, only their logos which are centered
     */

    input[type=date]::-webkit-datetime-edit-text, input[type=date]::-webkit-datetime-edit-month-field, input[type=date]::-webkit-datetime-edit-day-field, input[type=date]::-webkit-datetime-edit-year-field, input[type=time]::-webkit-datetime-edit-text, input[type=time]::-webkit-datetime-edit-hour-field, input[type=time]::-webkit-datetime-edit-minute-field {
        -webkit-appearance: none;
        display: none;
    }

    input[type=date]::-webkit-calendar-picker-indicator {
        transform: translateX(-135%);
    }

    input[type=time]::-webkit-calendar-picker-indicator {
        transform: translateX(-112%);
    }

    .material-symbols-outlined {
        font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 24
    }

}

/*
--- End of custom style on mobiles ---
 */