*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ms-menu-toggle {
    display: none;
    height: 92vh;
    background-color: #BA945A;
    opacity: 0.9;
    z-index: 100;
}

.ms-navbar {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    background-color: #FDFFF5;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    position: fixed;
    top: 0;
    z-index: 4;
}

.ms-logo{
    z-index: 4;
    height: 18vh;
    margin: 0.5% auto auto 0.5%;
}

.ms-logoHidden{
    display: none;
    z-index: 4;
    height: 10vh;
    margin: 0.5% 0.5% auto 0.5%;
}

.ms-menu-button{
    background-image: url("../../Images/menu.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 10%;
    z-index: 100;
    display: none;
}

.ms-bookingHidden{
    display: none;
    font-size: 1.2em;
    color: #102839;
    font-family: var(--title-font);
    margin: auto;
    text-decoration: none;
}

ul{
    width:80%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

li{
    font-size: 1.5em;
    color: #102839;
    font-family: var(--title-font);
}

.surlign{
    text-decoration: none;
    color: #102839;
}

.accueil{
    background-image: url("../../Images/trieste-g46457e002_1920.jpg");
    height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10vh;
    margin-bottom: 0;
}

.titre{
    margin: 7% auto 0 auto;
    font-size: 3em;
    color: #102839;
    font-family: var(--title-font);
}

.sousTitre{
    margin: 0 auto auto auto;
    font-family: var(--secondary-font);
    font-size: 1.3em;
    color: #102839;
}

.noeud{
    margin: 6vh auto;
    display: flex;
    height: 10vh;
}

.ms-boatWidthTotal{
    height: 6vh;
    margin: 0;
    position: fixed;
    z-index: 5;
    width: 100vw;
    display: flex;
}

.ms-boatWidth{
    /*background-color: red;*/
    height: 6vh;
    min-width: 10%;
    max-width: 100%;
    z-index: 5;
}

.ms-boat {
    height: 6vh;
    animation: bateauZoom 1.5s infinite;
    z-index: 5;
    }

 @keyframes bateauZoom {
     0% {
        transform: scale(1);
     }
     50% {
        transform: scale(1.1);
     }
     100% {
         transform: scale(1);
     }
 }

@media screen and (max-width: 400px) {
    .ms-boat {
        display: none;
    }
    .ms-logo {
        height: 10vh;
        background-image: url("../Assets/Images/menu.png");
        display: none;
    }
    .ms-logoHidden{
        display: flex;
    }
    .ms-bookingHidden {
        display: flex;
    }
    .ms-navbar {
        height: 8vh;
        display: flex;
        justify-content: space-between;
    }
    .ms-navbar ul {
        display: none;
    }

    .accueil {
        margin-top: 8vh;
    }
    .ms-menu-toggle {
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 0;
        left: 0;
        bottom: 0;
        transition: all 0.5s ease-in-out;
    }
    .ms-menu-toggle div {
        font-family: var(--secondary-font);
        color: #102839;
        position: absolute;
        bottom: 10%;
        transition: all 0.3s ease-in-out;
        opacity: 0;
    }
    .ms-menu-toggle ul{
        flex-direction: column;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        opacity: 0;
    }
    .ms-menu-toggle ul li{
        padding: 10%;
        font-weight: bold;
    }
    .ms-menu-toggle ul li a:hover {
        color: #E1DBCA;
    }
    .ms-menu-button{
        display: flex;
        height: 40%;
        margin: auto 2% auto 2%;
    }
    .titre {
        margin: 15% auto 0 auto;
    }
}

/*<script type="text/javascript" src="./Assets/Javascript/head.js"></script>


 */
