*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation-globale{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    background-color: #FDFFF5;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    position: fixed;
    top: 0;
    z-index: 4;
}

.logo{
    height: 17vh;
    margin: 0.5% auto auto 0.5%;
}

ul{
    width:80%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

li{
    font-size: 1.5em;
    color: #102839;
    font-family: var(--title-font);
}

.surlign{
    text-decoration: none;
    color: #102839;
}

.accueil{
    background-image: url("../../Images/trieste-g46457e002_1920.jpg");
    height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10vh;
    margin-bottom: 0;
}

.titre{
    margin: 4% 4% 0 auto;
    font-size: 3em;
    color: #102839;
    font-family: var(--title-font);
}

.sousTitre{
    margin: 0 4% auto auto;
    font-family: var(--secondary-font);
    font-size: 1em;
    color: #102839;
}

.noeud{
    margin: 6vh auto;
    display: flex;
    height: 10vh;
}

.bateauWidthTotal{
    height: 6vh;
    margin: 0;
    position: fixed;
    z-index: 5;
    width: 100vw;
    display: flex;
}

.bateauWidth{
    /*background-color: red;*/
    height: 6vh;
    min-width: 10%;
    max-width: 98%;
    z-index: 5;
}

.bateau {
    height: 6vh;
    animation: bateauZoom 1.5s infinite;
    z-index: 5;
    }

 @keyframes bateauZoom {
     0% {
        transform: scale(1);
     }
     50% {
        transform: scale(1.1);
     }
     100% {
         transform: scale(1);
     }
 }