.ms-menu {
    margin-bottom: 0;
    display: grid;
    justify-content: center;
    text-align: center;
}

.ms-menu-wrapper {
    width: 100vw;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

/* Clickable items "entrées", "plats", "desserts" */
.ms-menu-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}

.ms-menu-items {
    background-color: var(--dark-color);
    color: var(--main-text-color);
    font-size: 32px;
    font-family: var(--title-font);
    font-weight: 600;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 56px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}

#startersItem, #mainsItem {
    margin-right: 4px;
}

.ms-menu-items:hover {
    background-color: #091923;
}

/* Setting displayed item by default to "Entrées" */
#startersItem {
    background-color: var(--main-text-color);
    color: var(--dark-color);
    height: 64px;
    padding-top: 8px;
}

#startersContent {
    display: block;
}

#mainsContent, #dessertsContent {
    display: none;
}


/* Menu content with list of dishes */
.ms-menu-content {
    font-family: var(--secondary-font);
    max-width: 650px;
    background-color: var(--main-text-color);
    margin: 0 auto;
    padding: 48px 24px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.ms-dish-label, .ms-dish-price, .ms-dish-transition {
    color: var(--dark-color);
    text-align: center;
    padding-top: 8px;
}

.ms-dish-label {
    font-size: 20px;
}

.ms-dish-price {
    font-size: 16px;
}

.ms-dish-transition {
    width: 20%;
    height: auto;
}

/* Arrow previous and next buttons */

#previousButton {
    width: 32px;
    height: 48px;
    background-color: var(--main-text-color);
    clip-path: polygon(50% 0, 0 50%, 50% 100%, 100% 100%, 50% 50%, 100% 0);
    cursor: pointer;
    border: 0;
}

#nextButton {
    width: 32px;
    height: 48px;
    background-color: var(--main-text-color);
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 100%, 50% 50%, 0 0);
    cursor: pointer;
    border: 0;
}

/* Transition before next section */
.ms-menu-below {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.ms-knot-transition {
    height: 7vh;
}

/* Mobile version */

@media screen and (max-width: 400px) {

    .ms-menu-items {
        font-size: 24px;
        padding-bottom: 14px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .ms-menu-content {
        padding: 24px 12px;
    }

    .ms-dish-label, .ms-dish-price, .ms-dish-transition {
        padding-top: 4px;
    }

    .ms-dish-label {
        font-size: 15px;
    }

    .ms-dish-price {
        font-size: 12px;
    }

    #previousButton, #nextButton {
        display: none;
    }
}