@font-face {
    font-family: "Montserrat";
    src: url(../../Fonts/Montserrat-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Advent Pro";
    src: url(../../Fonts/AdventPro-Regular.ttf);
    font-weight: normal;
}

body{
    background-color: #FDFFF5;
}

h1 {
    font-family: "Advent Pro";
    color: #102839;
    text-align: center;
    margin-bottom: 5%;
}

h2 {
    font-family: "Advent Pro";
    color: #102839;
    margin: 3%;
}

p{
    font-family: "Montserrat";
    color: #102839;

}