@import "Modules/variables.css";

@import "Modules/button.css";

@import "Modules/header.css";

@import "Modules/cards.css";

@import "Modules/carrousel.css";

@import "Modules/menu.css";

@import "Modules/form.css";

@import "Modules/contact.css";

@import "Modules/footer.css";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url(../Fonts/Montserrat-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Advent Pro";
    src: url(../Fonts/AdventPro-Regular.ttf);
    font-weight: normal;
}

body {
    background-color : var(--main-bg-color)
}

.ms-h2-small {
    color: var(--dark-color);
    font-family: Advent Pro;
    font-style: normal;
    font-size: 2.5rem;
}

.ms-h2-big {
    color : var(--secondary-title-color);
    font-family: Advent Pro;
    font-style: normal;
    font-size: 3.75rem;
}


section {
    margin-bottom: 15vh;
}


h2 + * {
    margin-top: 3vh;
}

@media screen and (max-width: 400px) {
    .ms-h2-small {
        font-size: 1.5rem;
    }
    .ms-h2-big {
        font-size: 2rem;
    }

    section {
        margin-bottom: 5vh;
    }

}
