@import "Modules/variables.css";

@import "Modules/button.css";

@import "Modules/header.css";

@import "Modules/cards.css";

@import "Modules/carrousel.css";

@import "Modules/menu.css";

@import "Modules/form.css";

@import "Modules/contact.css";

@import "Modules/footer.css";

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url(../Fonts/Montserrat-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Advent Pro";
    src: url(../Fonts/AdventPro-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Advent Pro bold";
    src: url(../Fonts/AdventPro-Bold.ttf);
    font-weight: bold;
}

body {
    background-color : var(--main-bg-color);
    overflow-x: hidden;
}

.ms-h2-small {
    color: var(--dark-color);
    font-family: var(--title-font);
    font-style: normal;
    font-size: 2.5rem;
}

.ms-h2-big {
    color : var(--secondary-title-color);
    font-family: var(--title-font);
    font-style: normal;
    font-size: 3.75rem;
}

section {
    margin-bottom: 5vh
}


h2 + * {
    margin-top: 3vh;
}

#ancreCards {
    margin-top: -6em;
    padding-top: 6em;
}

#ancreMenu {
    margin-top: -7em;
    padding-top: 7em;
}

#ancreBooking {
    margin-top: -7em;
    padding-top: 7em;
}

#ancreContact {
    margin-top: -6em;
    padding-top: 6em;
}

.transitioned {
    opacity: 0;
}

.transitioned.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 0.8s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

.active.fade-still {
    animation: fade-still 1s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(15vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-still {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@media screen and (max-width: 400px) {
    .ms-h2-small {
        font-size: 1.5rem;
    }
    .ms-h2-big {
        font-size: 2rem;
    }
    section {
        margin-bottom: 5vh;
    }

    #ancreBooking, #ancreMenu {
        margin-top: -3em;
        padding-top: 3em;
    }

    #ancreContact, #ancreCards {
        margin-top: -2em;
        padding-top: 2em;
    }
}

